$dim: #000;
$black: #101314;
$dark: #2b2b2c;
$dark-grey: #707172;
$cool-grey: #9fa1a1;
$line-grey: #cfd0d0;
$bg-grey: #f5f5f5;
$white: #fff;
$ocean-blue: #0077b4;
$orange: #ee8508;
$tomato: #e54e2b;
$pink: #ffdff7;

$img-path: '/static/svc/images/admin/';